{% extends 'base.html' %}

{% block content %}
{% if error_message %}
  <div id="error-alert" class="alert alert-error shadow-lg mb-4 relative">

    <button onclick="document.getElementById('error-alert').remove()">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24">

      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.364 5.636L5.636 18.364M5.636 5.636l12.728 12.728" />
    </svg>
    </button>
    <span>{{ error_message }}</span>
  </div>
{% endif %}

<div class="container mx-auto p-4">
  <div class="bg-base-100 shadow-xl rounded-box">
    <!-- Table Title and Search bar -->
    <div class="flex flex-col lg:flex-row justify-between items-center p-4 border-b">

      <form method="get" class="flex flex-col lg:flex-row gap-4 items-center mb-4">
        <label class="form-control w-full max-w-xs">
          <span class="label-text">С даты</span>
          <input type="date" name="start_date" value="{{ request.GET.start_date }}" class="input input-bordered" />
        </label>

        <label class="form-control w-full max-w-xs">
          <span class="label-text">По дату</span>
          <input type="date" name="end_date" value="{{ request.GET.end_date }}" class="input input-bordered" />
        </label>

        <button type="submit" class="btn btn-primary mt-4 lg:mt-6">Фильтровать</button>
      </form>
      <div class="form-control w-full max-w-xs">
        <div class="input-group">
          <input type="text" placeholder="Поиск..." style="height: 35px; font-size: 20px;" />
          <button class="btn btn-square">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div class="overflow-x-auto">
      <table class="table table-zebra w-full">
        <thead>
          <tr class="bg-primary bg-opacity-10">
            <th class="text-primary-content">Дата и время</th>
            <th class="text-primary-content">Направления</th>
            <th class="text-primary-content">Фамилия</th>
            <th class="text-primary-content">Имя</th>
            <th class="text-primary-content">Отчество</th>
            <th class="text-primary-content">Подразделение</th>
            <th class="text-primary-content">Должность</th>
            <th class="text-primary-content">Точка прохода</th>
          </tr>
        </thead>
        <tbody>
        {% for entrance in entrances %}
          <tr class="hover cursor-pointer">
            <td class="font-medium">{{entrance.entry_exit_date}}</td>
            <td>
              {% if entrance.entry_exit == "entry" %}
                <div class="badge badge-success">{{entrance.entry_exit}}</div>
              {% else %}
                <div class="badge badge-error">{{entrance.entry_exit}}</div>
              {% endif %}
            </td>
            <td>{{entrance.last_name}}</td>
            <td>{{entrance.first_name}}</td>
            <td>{{entrance.surname}}</td>
            <td>
              <div class="tooltip" data-tip="{{entrance.department}}">
                {{entrance.department|truncatechars:20}}
              </div>
            </td>
            <td>{{entrance.position}}</td>
            <td>{{entrance.point_of_passage}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Pagination -->
    <div class="flex justify-center p-4">
      <div class="btn-group">
        <button class="btn btn-sm">«</button>
        <button class="btn btn-sm">‹</button>
        <button class="btn btn-sm btn-active">1</button>
        <button class="btn btn-sm">2</button>
        <button class="btn btn-sm">3</button>
        <button class="btn btn-sm">›</button>
        <button class="btn btn-sm">»</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}